
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* font-family  폰트 ----------------------------------------------*/
.bold{
	font-weight: 700;
}
.prompt-700{
	font-weight: 700;
	}
	.l2-title{
		font-size: 4rem;
	}
*{
	list-style:none;
	margin:0; 
	padding:0;
}
body{
	font-family: prompt,'Nanum Gothic',sa;
	font-size: 16pt;
}
a{
	color: black;
}
/* 섹션 1 시작 ---------------------------------------------------- */
#section01{
display: flex;
	width:100%;
	height:1000px;
	background:rgba(0, 0, 0, 0.062);
	justify-content: center;
}
.logo img{
	width: 35px;
	height: auto;
}

/* 메인페이지 z-index 오른쪽 왼쪽 슬라이드? 버튼 */

.chainge-bt{
position: absolute;
top: 50%;

}

.chainge-bt >a>img{
	width: 20%;
	
}
.prev{
left: 15%;
}

.next{
left: 85%;
}

/* 메인페이지 컨테이너 시작*/
.contaner{
display: flex;

	width: 96%;
	height: 1000px;
	/* background: green; */
}
/* 메인페이지 컨텐츠 왼쪽 시작*/
.cont-left{
	position: relative;
	width: 33%;
	height: 1000px;
	/* background-color: rgb(114, 114, 114); */
}
.cont-left img{
	width: 40%;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	

}
/* 메인페이지 컨텐츠 왼쪽 끝*/

/* 메인페이지 컨텐츠 가운데 시작 */
.cont-center{
	position: relative;
	width: 34%;
	height: 1000px;
	/* background-color: rgb(141, 150, 142); */
}
.cont-bg {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.cont-bg img{
	width: 99%;
	margin-left: 5%;
}
.cont-jpg{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cont-jpg img{
	margin-left: 5%;
	width: 99.9%;
	transform: rotate(-6deg);
	box-shadow:0px 0px 15px  rgba(101, 119, 51, 0.377);
}

.cont-concept{
	
	transition: background-color 1s;
	width: 13vw;
	height: 22vw;
	position: absolute;
	top:50%;
	left: 52%;
	background-color: rgba(255, 255, 255, 0.294);
	transform: translate(-50%, -50%);
}
.cont-concept:hover{

	background-color: #fff;

}
.cont-concept img{
	position: absolute;
	width: 70%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 150px 70px;
}
/* 메인페이지 컨텐츠 가운데 끝 */

/* 메인페이지 컨텐츠 오른쪽 시작 */
.cont-right{
	width: 33%;
	height: 1000px;
	/* background-color: rgb(84, 112, 84); */
}

.cont3{

	margin-top: 70%;
	
	
	/* background-color: #FFF; */
	
	font-size: 13px!important;
}

.line-1, .line-3{
	display: flex;
	justify-content: flex-end;
}
.line-2{
	text-align: right;
}

.line-bty{
	width: 50px;
	border-bottom:0.1px solid black;
}

#l3-p{
	font-size: 10pt!important;
}
.hm-60{
	padding-top: 60px;
}
/*메인페이지 컨텐츠 오른쪽 끝 */

/* 섹션 1 끝 */

/* 섹션 2 시작 ---------------------------------------------------- */
#section02{
	
	width:100%;
	height:1000px;
	background:#fff;
	display: flex;
	justify-content: center;
}
.contaner-2{
	
		width: 96%;
		height: 1000px;
		/* background: rgba(43, 165, 43, 0.719); */
	}
.sec-2-title{

	display: flex;
	padding-top: 150px;
	justify-content: center;
	}
	.sec-2-title img{
		width: 400px;
	}
	
	.sec-2-container{
		display: flex;
		justify-content: center;
		width: 100%;
		padding-top: 100px;
		
	}
	.sec-2-container >div{
		margin-left: 4px;
		margin-right: 4px;
	}
	
	/* 목록4 */
	.sec-2-box{
	
		text-align: center;
		width: 300px;
		border: 1px solid lightgray;
		box-sizing: border-box;
	
	}
	.sec-2-box>ul>:first-child{
	margin-top: 40px;
	margin-bottom: 20px;
		font-size: 14px;
		font-weight: bold;
	}
	.sec-2-box>ul>:nth-child(3){
		margin-top: 30px;
		margin-bottom: 50px;
	}
	
	
	.sec-2-box:hover{
		border: 1.5px solid #cfc328;
		box-sizing: border-box;
	}
	.sec-2-box img{
		width:240px ;
	}
	
	.markig{
		opacity: 1%;
		position: absolute;
		margin-top: 35px;
		width: 5px;
		height: 25px;
		background-color: #cfc328;
	}
	
	.markig:hover{
		opacity: 100%;
	}
	
/* 제목 */

/* 목록4 */

/* 섹션 2 끝 */
/* 섹션 3 시작 ---------------------------------------------------- */
#section03{
	width:100%;
	height:1000px;
	background:#fff;
	display: flex;
	justify-content: center;
}

.contaner-3{
		width: 96%;
		height: 1000px;
		background: rgba(43, 165, 43, 0.719);
	}
/* 섹션 3 끝 */
/* 섹션 4 시작 ---------------------------------------------------- */	
#section04{
	width:100%; height:1000px; background:#F33;}
/* 섹션 4 끝 */
/* 섹션 5 시작 ---------------------------------------------------- */	
#section05{
	width:100%; height:1000px; background:#FC0;}
/* 섹션 5 끝 */
/* 메뉴 시작 ---------------------------------------------------- */
.menu_box{
	width:96%; height:90px; color:#FFF; position:fixed; transition:all 0.5s ease-in-out; 
	z-index: 999;
	-webkit-transition:all 0.5s ease-in-out;
}
	
	.fixed{
		background:rgba(0,0,0,0.0); transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;}
	
		.logo a{
			font-size:46px; padding:28px 0 0 0px; float:left;}
			
		.menu_box > ul{
			float:right; }
			
			.menu_box li{
				float:left; text-align:center;margin-left: 50px; }
				
				.menu_box li a{
					text-decoration:none; color:#000; line-height:100px;  font-size:14px;}
					
					/**메뉴부분 마우스 오버시 보더 바텀 생김 **/
					.menu_box li a:hover{
						border-bottom:1px solid #000; padding-bottom:1px; color:#000;}
						
					.menu_box li:nth-child(2) a:hover{
						border-bottom:1px solid #000; padding-bottom:1px; color:#000;}
						
					.menu_box li:nth-child(3) a:hover{
						border-bottom:1px solid #000; padding-bottom:1px; color:#000;}
						
					.menu_box li:nth-child(4) a:hover{
						border-bottom:1px solid #000; padding-bottom:1px; color:#000;}
						
					.menu_box li:nth-child(5) a:hover{
						border-bottom:1px solid #000; padding-bottom:1px; color:#000;}


/* 메뉴 끝 ---------------------------------------------------- */
